<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
">

    <bean id="petOwner" class="lab1.PetOwner">
<!--        <constructor-arg type="String" value="John"/>
        <constructor-arg ref="pet"/>-->
        
        <property name="name" value="John"/>
        <property name="pet" ref="pet"/>
    </bean>
    <bean id="pet" class="lab1.Cat">
        <constructor-arg type="String" value="Missty"/>
        <constructor-arg type="int" value="5"/>
    </bean>
    
</beans>
